	html{
		/*background-image: url(http://gurudigger.com/assets/bg-ccb563c138abb9855c8faa09e5edcfd8.png);*/
	}

	#datepicker{
		position: absolute;
		left:500px;
		top:50px;

		.datepicker-popover{
			width: 290px;
			border-radius: 5px;
			border:#D8D8D8 1px solid;
			box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 3px 1px;
			position: absolute;
			margin-top: 10px;
			animation: fadeIn 0.5s 0s ease both;

			.header{
				height: 43px;
				line-height: 46px;
				text-align: center;
				font-family: Futura;
				font-size: 12px;
				text-transform:uppercase;
				letter-spacing: 1.5px;
				background-color: rgb(75,83,90);
				color: #fff;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				border-top:#343333 1px solid;
				border-left: #343333 1px solid;
				border-right: #343333 1px solid;

				.arrow-left,.arrow-right{
					cursor: pointer;
					position: absolute;
					top: 6px;

					img{
						height:20px;
					}
				}

				.arrow-left{
					left: 25px;
				}

				.arrow-right{
					right:25px;
				}
			}
		}

		.title{
			margin-left: 100px;
		}

		.not-in-month{
			color: #ccc;
		}

		table{
			margin: auto;
			border-collapse:collapse;
			width: 290px;

			thead{
				border-left: #343333 1px solid;
				border-right: #343333 1px solid;
			}

			tbody{
				font-family: Expressway;
				font-size: 14px;
				color:#565656;
				background: #fff;
			}

			tr{
				border-bottom: #F5F5F5 1px solid;
			}

			th{
				height: 28px;
				background: rgb(75,83,90);
				font-family: Futura;
				color: rgba(255, 254, 254, 0.55);
				font-size: 12px;
				text-rendering:geometricPrecision;
			}


			td{
				width: 37px;
				height: 39px;
				vertical-align: middle;
				text-align: center;
				padding-bottom: 0px;
				padding-top: 0px;
				cursor: pointer;
				text-rendering:optimizeLegibility;
				box-sizing: border-box;
			}
		}

		.today{
			background-color: rgb(37,124,188);
			color: #fff;
			border-radius: 5px;
		}

		.console{
			span {
				cursor: pointer;
			}
		}

		.hover{
			border:rgb(37,124,188) 1px solid;
		}


		.fadeOut{
			animation: fadeOut 1s 0s ease both;
		}

		.hide{
			display: none;
		}


		.picker{
			text-align: center;
			min-width: 120px;
			border:#BCBDBE 1px solid;
			height: 37px;
			line-height: 37px;
			font-family: Arial;
			border-radius: 2px;
			background-color: rgb(250,251,253);
			font-size: 14px;
			cursor: pointer;
			color: #515151;
			box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 3px 0px;
			display: inline-block;
			padding-left: 9px;
			text-shadow: white 0 1px 0;
			box-shadow: 0 0 5px rgb(207, 207, 207);

			.icon{
				font-family: entypo;
				font-size: 30px;
				position: absolute;
				left: 9px;
				top: 1px;
			}
		}

		.menu{
			width: 19px;
			margin-top: 10px;
			height: 16px;
		}

		.label{
			margin-left:15px;
			margin-right:25px;
			display: inline-block;
			vertical-align: top;
		}
	}

	@keyframes fadeIn{
		0% {
			opacity: 0;
			transform:translateY(-10px);
		}

		100% {
			opacity: 100;
			transform:translateY(0);
		}
	}

	@keyframes fadeOut{
		0% {
			opacity: 100;
			transform:translateY(0px);
		}
		100% {
			opacity: 0;
			transform:translateY(-10px);
		}
	}

	.afterFadeOut {
	  transition-delay: 1s;
	  display: none;
	}
